body {
	margin: 0;
	background: url("../../img/gridtile.svg") repeat scroll -1px -1px /50px auto #EEEEEE;
	text-align: left;
}

#editor {
	width: 310px;
	height: 100%;
	bottom: 0;
	float: left;
	background: #4A4A4A;
	color: #FFFFFF;
	padding-left: 12px;
	overflow: auto;
}

#editor h1 {
	font-weight: 100;
	font-size: 26px;
	color: #FFFFFF;
	padding: 10px;
	margin: 0 20px 20px 20px;
	text-align: left;
}

#preview {
	height: 100%;
	overflow: auto;
}

#widget {
	float: left;
	margin: 12px;
	background: white;
	border: 1px solid #333333;
	height: 580px;
	width: 300px;
	-webkit-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.5);
	cursor: move;
}

#time_start,
#time_end {
	width: 200px;
	margin-top: 5px;
}

.sublabel {
	padding-right: 10px;
	font-size: small;
	text-align: right;
	display: inline-block;
	width: 50px;
}

#widget iframe {
	background: white;
}

.ui-resizable-helper {
	border: 2px dotted #00F;
}

div.select {
	padding: 3px;
}

div.select label {
	display: block;
}

div.select select, div.select input {
	display: inline-block;
	width: 280px;
}

button {
	display: inline-block;
	margin-left: 160px;
	margin-top: 24px;
	width: 120px;
	margin-bottom: 20px;
}

div.select select[multiple] {
	height: 180px !important;
}
