table.results {
	border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

table.results td {
	background: #DDD;
	color: #333;
	padding: 3px;
	text-align: left;
}

table.results th {
	background: #333;
	color: #DDD;
	padding: 3px;
}
