@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 48px;
	font-style: normal;
}
.flaticon-bearing:before {
	content: "\e000";
}
.flaticon-windrose:before {
	content: "\e000";
}
.flaticon-flask:before {
	content: "\e001";
}
.flaticon-timechart:before {
	content: "\e002";
}
.flaticon-table:before {
	content: "\e003";
}
.flaticon-monitor:before {
	content: "\e003";
}
.flaticon-jqgrid:before {
	content: "\e003";
}
.flaticon-panel:before {
	content: "\e003";
}
.flaticon-map:before {
	content: "\e004";
}
.flaticon-progressbar:before {
	content: "\e005";
}
.flaticon-gauge:before {
	content: "\e006";
}
.flaticon-thermometer:before {
	content: "\e007";
}
