body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.widget-container {
    height: 435px;
}

/* Override progressbar label positioning */
.progressbar.widget .min,
.progressbar.widget .max {
    top: 5px !important;
}