body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.col-fixed-200 {
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    float: left;
}

.left-200 {
    margin-left: 200px;
}

.tab-content {
    border: 1px solid #ecf0f1;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    padding-bottom: 0;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    font-size: 11px;
    color: black;
}

.well {
    margin-bottom: 0;
}

#widget-view,
#widget-container,
.map.widget,
.timechart.widget {
    height: 100%;
    padding: 0;
}

select[multiple] {
    height: 225px !important;
}

#widget-container {
    z-index: 99998;
}

.ui-resizable-handle {
    z-index: 99999 !important;
}

.ui-resizable-helper {
    border-radius: 4px;
    border: 2px dashed #e74c3c;
}

.calendar-time:after {
    content: 'UTC'
}
