html, body {
    font-family: "Source Sans Pro", helvetica, sans-serif;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
}

#factory {
    background: #666666;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 210px;
    overflow: auto;
}

#factory h1 {
    font-weight: 100;
    font-size: 26px;
    color: #FFFFFF;
    padding: 10px;
    margin: 0 20px 20px 20px;
    text-align: left;
}

#factory-right {
    position: absolute;
    left: 210px;
    top: 0;
    height: 100%;
    margin-right: 0;
    right: 0;
    overflow: hidden;
}

#factory-right iframe {
    height: 100%;
    width: 100%;
}

#header {
    margin: 0;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    font-size: 26px;
    color: #4A4A4A;
}

#header img {
    margin: 3px 15px;
    float: left;
    height: 52px;
}

#share {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
}

#codediv {
    font-size: 12px;
    display: none;  
}

#codediv h3 {
    font-size: 15px;
    margin-bottom: 0;
}

#codediv h4 {
    font-style: italic;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 3px;
}

#codediv .codeinput {
    box-sizing: border-box;
    height: 85px;
    outline: medium none;
    width: 720px;
    padding: 6px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 11px;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.big-button {
    background-color: #8C8C8C;
    border-radius: 3px;
    box-shadow: 0 2px 0 #161616;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.9em;
    padding: 12px;
    margin: 16px;
    width: 140px;
    text-align: center;
    clear: both;
    display: block;
    text-decoration: none;
}

.big-button div {
    padding-bottom: 8px;
}

.error {
    color: red;
}

body {
    margin: 0;
    background: url("../img/gridtile.svg") repeat scroll -1px -1px /50px auto #EEEEEE;
    text-align: left;
}
#editor {
    width: 310px;
    height: 100%;
    bottom: 0;
    float: left;
    background: #4A4A4A;
    color: #FFFFFF;
    padding-left: 12px;
    overflow: auto;
}
#editor h1 {
    font-weight: 100;
    font-size: 26px;
    color: #FFFFFF;
    padding: 10px;
    margin: 0 20px 20px 20px;
    text-align: left;
}
#preview {
    height: 100%;
    overflow: auto;
}
#widget-container {
    float: left;
    margin: 12px;
    background: white;
    border: 1px solid #333333;
    height: 380px;
    width: 380px;
    -webkit-box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.5);
    cursor: move;
    overflow: hidden;
}
#time_start, #time_end {
    width: 200px;
    margin-top: 5px;
}
.sublabel {
    padding-right: 10px;
    font-size: small;
    text-align: right;
    display: inline-block;
    width: 50px;
}
#widget-container iframe {
    background: white;
}
.ui-resizable-helper {
    border: 2px dotted #00F;
}
div.select {
    padding: 3px;
}
div.select label {
    display: block;
}
div.select select, div.select input, div.select textarea {
    display: inline-block;
    width: 280px;
    box-sizing: border-box;
}
button {
    display: inline-block;
    margin-left: 160px;
    margin-top: 24px;
    width: 120px;
    margin-bottom: 20px;
}
div.select select[multiple] {
    height: 180px !important;
}
